@model Category
@section heading {
    Categories
}
@section title {
    create
}
<form method="post" action="/admin/categories/create">

    <div class="card-body">
        <input type="hidden" name="Id">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input name="Name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Category Name">
        </div>
        
    </div>
    <button type="submit" class="btn btn-primary">create</button>
</form>